.breadcrumb{
    background-color: transparent;
    margin: 0px;
    padding-top: 0px;
}
.dataTables_length, .dataTables_filter {
    display: none;
}

.dataTables_paginate.paging_simple_numbers > a:first-child {
    margin-right: 1px;
}

.dataTables_paginate.paging_simple_numbers > a:last-child {
    margin-left: 1px;
}

.dataTables_paginate.paging_simple_numbers > span > a {
    margin-left: 1px;
    margin-right: 1px;
}

table.dataTable thead th {
    border-bottom: 1px solid #ddd !important;
    color: #4d575d !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}

table.dataTable > tbody td{
    padding-top:  2px !important;
    padding-bottom:  2px !important;
    /*margin: 0px !important;*/
}

table.dataTable > tbody tr[role=row] > td::before{
    top: 0px !important;
    bottom: 0px !important;
    margin: auto !important;
}